body, .scoreboard {
	text-align: center;
	align: center;
}

.top_left {
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
}

#scoreboard {
	width: 300px;
	text-align: center;
}

.top_right {
	position: absolute;
	top: 0;
	right: 0;
	left: 50%;
}

.control_board_size, .game_mode {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 25%;
	right: 25%;
}

.player_status {
	margin-top: 0px;
	margin-bottom: 0px;
}

#board {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.playboard, .board_cell {
	width: 50px;
	height: 50px;
}

.empty, .control_board_size, .game_mode, #new_game, #restart {
	cursor: pointer;
}

.selected {
	outline-style: solid;
	outline-color: black;
}

.playboard {
	border: 5px solid black;
}

td:nth-child(2) {
	border-left-color: white;
}
td:last-child {
	border-right-color: white;
}
tr:nth-child(2) td {
	border-top-color: white;
}
tr:last-child td {
	border-bottom-color: white;
}
