body {
	height: 100%;
}

.container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 100%;
	text-align: center;
	align-items: stretch;
	
	align: center;
}

#scoreboard_div {
	grid-area: 1 / 1 / 2 / 7;
}

#board_div {
	grid-area: 1 / 7 / 2 / 13;
}

#analytics_moves_per_turn_div {
	grid-area: 2 / 1 / 4 / 5;
}

#analytics_move_tree_div {
	grid-area: 2 / 5 / 4 / 9;
}

#analytics_best_move_div {
	grid-area: 2 / 9 / 4 / 13;
}

#scoreboard {
	width: 70%;
}

.control_board_size, .game_mode {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.player_status {
	margin-top: 0px;
	margin-bottom: 0px;
}

#board {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.playboard, .board_cell {
	width: 50px;
	height: 50px;
}

.empty, .control_board_size, .game_mode, #new_game, #restart {
	cursor: pointer;
}

.selected {
	outline-style: solid;
	outline-color: black;
}

.playboard {
	border: 5px solid black;
}

.analytics_cell {
	border: 1px solid black;
	padding: 3px;
}

#possible_moves_per_turn_table, #possible_move_tree, #possible_best_move_table {
  border-collapse: collapse;

}

td:nth-child(2) {
	border-left: 0;
}
td:last-child {
	border-right: 0;
}
tr:nth-child(2) td {
	border-top: 0;
}
tr:last-child td {
	border-bottom: 0;
}

