body {
	text-align: center;
	align: center;
}

div {
	padding: 10px;
}

.top_left {
	position: absolute;
	top: 0;
	left: 0;
	right: 50%;
}

.control_board_size {
	display: inline;
}

.top_right {
	position: absolute;
	top: 0;
	right: 0;
	left: 50%;
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 25%;
	right: 25%;
}

#board {
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.playboard, .board_cell {
	width: 50px;
	height: 50px;
}

.playboard, #controls {
	cursor: pointer;
}

.playboard {
	border: 5px solid black;
}

td:nth-child(2) {
	border-left-color: white;
}
td:last-child {
	border-right-color: white;
}
tr:nth-child(2) td {
	border-top-color: white;
}
tr:last-child td {
	border-bottom-color: white;
}